@import "../../style.scss";

.chat{
    @include themify($themes){
        background-color: themed("bg");
        color: themed("textColor");
        height: 100vh;
        width: 100vw;
        flex: 1;
        display: flex;
        .chatList{
            flex: 2;
            padding-top: 50px;
            border-right: 1px solid themed("border");
            overflow-y: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
            .chatListHeader{
                padding: 0 20px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                .username{
                    font-weight: bold;
                    cursor: pointer;
                }
                .newChatIcon{
                    cursor: pointer;
                }
            }
            .chatListTabs{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid themed("border");
                .chatListPrimary,
                .chatListRequests{
                    flex: 1;
                    padding: 5px;
                    font-size: small;
                    text-align: center;
                    cursor: pointer;
                }
                .active{
                    font-weight: bold;
                    border-bottom: 3px solid themed("textColor");
                }
            }
            .chatListFriends{
                display: flex;
                flex-direction: column;
                
                .chatFriendIcon{
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: themed("bgSoft");
                    }
                    img{
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    .chatListDesc{
                        flex: 1;
                        .chatListFriendName{
                            font-weight: 600;
                        }
                        .chatListLastMessage{
                            font-size: small;
                        }
                    }
                    .chatListTime{
                        font-size: small;
                    }
                }
                .active{
                    background-color: themed("bgSoft");
                }
            }
        }
        .chatMessages{
            flex: 4;
            .chatMessagesSection{
                height: 100%;
                display: flex;
                flex-direction: column;
                .chatMessagesHeader{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    border-bottom: 1px solid themed("border");
                    .chatMessageUserStatus{
                        h2{
                            font-size: 18px;
                        }
                        .userStatus{
                            font-size: small;
                        }
                    }
                    .chatMessageHeaderIcons{

                    }
                }
                .chatMessagesArea{
                    padding: 20px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar{
                        display: none;
                    }
                    .myMessage,
                    .themMessage{
                        padding: 5px 10px;
                        background-color: themed("bgSoft");
                        display: inline-flex;
                        border-radius: 5px;
                    }
                    .myMessage{
                        align-self: flex-end;
                    }
                    .themMessage{
                        align-self: flex-start;
                        background-color: #6ac8ff;
                        color: black;
                    }
                }
                .chatMessagesActions{
                    border-top: 1px solid themed("border");
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    gap: 20px;
                    input{
                        border: none;
                        outline: none;
                        background-color: themed("bgSoft");
                        flex: 1;
                        font-size: 16px;
                        padding: 10px 20px;
                        border-radius: 20px;
                        color: themed("textColorSoft");
                    }
                    label{
                        cursor: pointer;
                    }
                }
            }
            .chatMessageNew{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                .messageIcon{
                    width: 100px;
                    height: 100px;
                    padding: 10px;
                    border-radius: 50%;
                    border: 3px solid themed("textColor");
                }
                h3{
                    font-weight: 500;
                }
            }
        }
    }
}